
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Tilte {
    <div class="col-xs-12" id="current_menu" data-level_1="@Html.Raw(Library.Resource.MML_Standard)" data-level_2="@Html.Raw(Library.Resource.MML_Configuration)" data-level_3="@Html.Raw(Library.Resource.MML_Menu)"></div>
}

@*-------------------------------------------- MENU GRID --------------------------------------------------*@
<div class="container-fluid">
    <div class="box-body my-2 bg-white">
        <div class="row p-0 m-0">
            @* Create new Menu *@
            <div class="col-md-2 p-2 divPermission Permission_createMenu">
                <button type="button" id="openCreateDialogBtn" class="btn btn-success button-sm Permission_createMenu"><i class="fa fa-plus"></i>&nbsp;@Html.Raw(Library.Resource.Btn_Create)</button>
            </div>
            <div class="col-md-10 p-2">
                <div class="col-sm-12 input-group">
                    <input type="text" class="form-control" placeholder="" id="searchInput">
                    <div class="input-group-append">
                        <button class="btn btn-secondary iBtnSearch" id="searchBtn">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        @* Menu Grid *@
        <div class="row p-0 m-0">
            <table id="menuGrid"></table>
        </div>
    </div>
</div>
@*---------------------------------------------------------------------------------------------------------------------------*@

@*--------------------------------------------CREATE POPUP --------------------------------------------------*@
<div id="dialogCreate" class="dialogPopup" title="@Html.Raw(Library.Resource.MSG_CreateMenu)">
    <div class="container-fluid">
        <div class="box-body bg-white text-right">

            @* MENU LEVEL 1 - ORDER LEVEL 1 *@
            <div class="col-md-12 p-2">
                <div class="row">
                    <div class="col-sm-3  form-group">
                        <label class="input100">@Html.Raw(Library.Resource.DbTbl_PrimaryMenu)</label>
                    </div>
                    <div class="col-sm-9 form-group">
                        <select class="form-control" id="createPrimaryMenu"></select>
                    </div>
                </div>
            </div>

            @* MENU LEVEL 2 - ORDER LEVEL 2 *@
            <div class="col-md-12 p-2">
                <div class="row">
                    <div class="col-sm-3  form-group">
                        <label class="input100">@Html.Raw(Library.Resource.DbTbl_SecondaryMenu)</label>
                    </div>
                    <div class="col-sm-9 form-group">
                        <input type="text" class="form-control" id="createSecondaryMenu" />
                    </div>
                </div>
            </div>

            @* MENU LEVEL 3 - ORDER LEVEL 3 *@
            <div class="col-md-12 p-2">
                <div class="row">
                    <div class="col-sm-3  form-group">
                        <label class="input100">@Html.Raw(Library.Resource.DbTbl_TertiaryMenu)</label>
                    </div>
                    <div class="col-sm-9 form-group">
                        <input type="text" class="form-control" id="createTertiaryMenu" />
                    </div>

                </div>
            </div>

            @* LEVEL - LINK *@
            <div class="col-md-12 p-2">
                <div class="row">
                    <div class="col-sm-3  form-group">
                        <label class="input100">@Html.Raw(Library.Resource.DbTbl_MenuLevel)</label>
                    </div>
                    <div class="col-sm-3 form-group">
                        <input type="number" class="form-control" id="createMenuLevel" />
                    </div>
                    <div class="col-sm-1  form-group">
                        <label class="input100">@Html.Raw(Library.Resource.DbTbl_Link)</label>
                    </div>
                    <div class="col-sm-5 form-group">
                        <input type="text" class="form-control" id="createLink" />
                    </div>
                </div>
            </div>

            <div class="col-md-12 p-2">
                <button class="btn btn-sm btn-danger button-srh mr-3 Permission_createMenu" id="btnCancelCreate">@Html.Raw(Library.Resource.Btn_Cancel)</button>
                <button class="btn btn-sm btn-success button-srh Permission_createMenu" id="btnCreate">@Html.Raw(Library.Resource.Btn_Create)</button>
            </div>

        </div>
    </div>
</div>
@*---------------------------------------------------------------------------------------------------------------------------*@

@*--------------------------------------------MODIFY POPUP --------------------------------------------------*@
<div id="dialogModify" class="dialogPopup" title="@Html.Raw(Library.Resource.MSG_ModifyMenu)">
    <div class="container-fluid">
        <div class="box-body bg-white text-right">

            @* MENU LEVEL 1 - ORDER LEVEL 1 *@
            <div class="col-md-12 p-2">
                <div class="row">
                    <div class="col-sm-3  form-group">
                        <label class="input100">@Html.Raw(Library.Resource.DbTbl_PrimaryMenu)</label>
                    </div>
                    <div class="col-sm-3 form-group">
                        <select class="form-control" id="modifyPrimaryMenu"></select>
                    </div>
                    <div class="col-sm-3  form-group">
                        <label class="input100">@Html.Raw(Library.Resource.DbTbl_PrimaryMenuOrder)</label>
                    </div>
                    <div class="col-sm-3 form-group">
                        <input type="number" class="form-control" id="modifyPrimaryMenuOrder" />
                    </div>
                </div>
            </div>

            @* MENU LEVEL 2 - ORDER LEVEL 2 *@
            <div class="col-md-12 p-2">
                <div class="row">
                    <div class="col-sm-3  form-group">
                        <label class="input100">@Html.Raw(Library.Resource.DbTbl_SecondaryMenu)</label>
                    </div>
                    <div class="col-sm-3 form-group">
                        <input type="text" class="form-control" id="modifySecondaryMenu" />
                    </div>
                    <div class="col-sm-3  form-group">
                        <label class="input100">@Html.Raw(Library.Resource.DbTbl_SecondaryMenuOrder)</label>
                    </div>
                    <div class="col-sm-3 form-group">
                        <input type="number" class="form-control" id="modifySecondaryMenuOrder" />
                    </div>
                </div>
            </div>

            @* MENU LEVEL 3 - ORDER LEVEL 3 *@
            <div class="col-md-12 p-2">
                <div class="row">
                    <div class="col-sm-3  form-group">
                        <label class="input100">@Html.Raw(Library.Resource.DbTbl_TertiaryMenu)</label>
                    </div>
                    <div class="col-sm-3 form-group">
                        <input type="text" class="form-control" id="modifyTertiaryMenu" />
                    </div>
                    <div class="col-sm-3  form-group">
                        <label class="input100">@Html.Raw(Library.Resource.DbTbl_TertiaryMenuOrder)</label>
                    </div>
                    <div class="col-sm-3 form-group">
                        <input type="number" class="form-control" id="modifyTertiaryMenuOrder" />
                    </div>
                </div>
            </div>

            @* LEVEL - LINK *@
            <div class="col-md-12 p-2">
                <div class="row">
                    <div class="col-sm-3  form-group">
                        <label class="input100">@Html.Raw(Library.Resource.DbTbl_MenuLevel)</label>
                    </div>
                    <div class="col-sm-3 form-group">
                        <input type="number" class="form-control" id="modifyMenuLevel" />
                    </div>
                    <div class="col-sm-3  form-group">
                        <label class="input100">@Html.Raw(Library.Resource.DbTbl_Link)</label>
                    </div>
                    <div class="col-sm-3 form-group">
                        <input type="text" class="form-control" id="modifyLink" />
                    </div>
                </div>
            </div>

            <div class="col-md-12 p-2">
                <div class="row">
                    <div class="col-sm-3  form-group">
                        <label class="input100">@Html.Raw(Library.Resource.DbTbl_Active)</label>
                    </div>
                    <div class="col-sm-3 form-group">
                        <select class="form-control" id="modifyActive">
                            <option value="0">NO</option>
                            <option value="1">YES</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-md-12 p-2">
                <button class="btn btn-sm btn-danger button-srh mr-3 Permission_modifyMenu" id="btnCancelModify">@Html.Raw(Library.Resource.Btn_Cancel)</button>
                <button class="btn btn-sm btn-success button-srh Permission_modifyMenu" id="btnModify">@Html.Raw(Library.Resource.Btn_Modify)</button>
            </div>

        </div>
    </div>
</div>
@*---------------------------------------------------------------------------------------------------------------------------*@


@section scripts{
    @*<script src="~/Scripts/Standard/Configuration/Menu/Menu.es5.min.js"></script>
        <script src="~/Scripts/Standard/Configuration/Menu/Popup.es5.min.js"></script>*@
    <script src="~/Scripts/Standard/Configuration/Menu/Menu.js"></script>
    <script src="~/Scripts/Standard/Configuration/Menu/Popup.js"></script>
}
