
@{
    ViewBag.Title = "Color";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Tilte {
    <div class="col-xs-12" id="current_menu" data-level_1="@Html.Raw(Library.Resource.MML_Standard)" data-level_2="@Html.Raw(Library.Resource.MML_Information)" data-level_3="@Html.Raw(Library.Resource.MML_Color)"></div>
}

@* Process Grid *@
<div class="container-fluid center">
    <div class="box-body my-2 bg-white center">
        <div class="row p-0 m-0">

            <div class="col-md-4 p-2 divPermission Permission_createBaseColor">
                @* Create Process *@
                <button type="button" class="btn btn-success button-sm Permission_createBaseColor" data-toggle="modal" data-target="#createModal"><i class="fa fa-plus"></i>&nbsp;@Html.Raw(Library.Resource.Btn_Create)</button>

                @* Modify Process *@
                <button type="button" id="modifyBtn" class="btn btn-warning button-sm Permission_modifyBaseColor" data-target="#modifyModal"><i class="fa fa-edit"></i>&nbsp;@Html.Raw(Library.Resource.Btn_Modify)</button>

                @* Delete Process *@
                <button type="button" id="deleteBtn" class="btn btn-danger button-sm Permission_deleteBaseColor" data-target="#confirmToDeleteModal"><i class="fa fa-trash"></i>&nbsp;@Html.Raw(Library.Resource.Btn_Delete)</button>

            </div>

            <div class="col-md-2 p-2">
                <label class="check-box">
                    Show deleted data
                    <input type="checkbox" id="showDeleted">
                    <span class="checkmark"></span>
                </label>
            </div>


            <div class="col-md-6 p-2 input-group">
                <input type="text" class="form-control" placeholder="" id="searchInput">
                <div class="input-group-append">
                    <button class="btn btn-secondary iBtnSearch" id="searchBtn">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </div>


        <div class="row p-0 m-0">
            <table id="colorGrid"></table>
        </div>
    </div>
</div>

@* Create Color  *@
@Html.Partial("~/Views/Standard/Information/Color/CreateColor/CreateColorModal.cshtml")
@Html.Partial("~/Views/Standard/Information/Color/CreateColor/ConfirmCreateColorModal.cshtml")

@* Modify Color  *@
@Html.Partial("~/Views/Standard/Information/Color/ModifyColor/ModifyColorModal.cshtml")
@Html.Partial("~/Views/Standard/Information/Color/ModifyColor/ConfirmModifyColorModal.cshtml")

@* Delete Color *@
@Html.Partial("~/Views/Standard/Information/Color/DeleteColor/ConfirmDeleteColorModal.cshtml")

@section scripts{
    <script src="~/Scripts/Standard/Information/Color/Color.js"></script>
    <script src="~/Scripts/Standard/Information/Color/CreateColor/CreateColor.js"></script>
    <script src="~/Scripts/Standard/Information/Color/ModifyColor/ModifyColor.js"></script>
    <script src="~/Scripts/Standard/Information/Color/DeleteColor/DeleteColor.js"></script>

    <script>
        // Code to run since DOM is loaded and ready
        document.addEventListener("DOMContentLoaded", function (event)
        {
            Initialize();

            @* Search Process *@
            searchBtn.addEventListener(`click`, ReloadColorGrid);

            @* Create Process *@
            btnConfirmToCreate.addEventListener(`click`, CreateColor)

            @* Modify Process *@
            modifyBtn.addEventListener(`click`, OpenModifyModal);
            btnConfirmToModify.addEventListener(`click`, ModifyColor);

            @* Delete Process *@
            deleteBtn.addEventListener(`click`, OpenDeleteModal);
            btnConfirmToDelete.addEventListener(`click`, DeleteColor);
        });
    </script>

}