
@{
    ViewBag.Title = "Recycle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Tilte {
    <div class="col-xs-12" id="current_menu" data-level_1="@Html.Raw(Library.Resource.MML_Standard)" data-level_2="@Html.Raw(Library.Resource.MML_General)" data-level_3="@Html.Raw(Library.Resource.MML_Season)"></div>
}
@* Suplier Grid *@
<div class="container-fluid center">
    <div class="box-body my-2 bg-white center">
        <div class="row p-0 m-0">
            <div class="col-md-4 p-2 divPermission Permission_createRecycle">
                @* Create Suplier *@
                <button type="button" id="" class="btn btn-success button-sm Permission_createRecycle" data-toggle="modal" data-target="#createModal"><i class="fa fa-plus"></i>&nbsp;@Html.Raw(Library.Resource.Btn_Create)</button>

                @* Modify Suplier *@
                <button type="button" id="modifyBtn" class="btn btn-warning button-sm Permission_modifyRecycle" data-target="#modifyModal"><i class="fa fa-edit"></i>&nbsp;@Html.Raw(Library.Resource.Btn_Modify)</button>

                @* Delete Suplier *@
                <button type="button" id="deleteBtn" class="btn btn-danger button-sm Permission_deleteRecycle" data-target="#confirmToDeleteModal"><i class="fa fa-trash"></i>&nbsp;@Html.Raw(Library.Resource.Btn_Delete)</button>

            </div>
            <div class="col-md-2 p-2">
                <label class="check-box">
                    Show deleted data
                    <input type="checkbox" id="showDeleted">
                    <span class="checkmark"></span>
                </label>
            </div>

            @* Search field *@
            <div class="col-md-6 p-2 input-group">
                <input type="text" class="form-control" placeholder="" id="searchInput">
                <div class="input-group-append">
                    <button class="btn btn-secondary iBtnSearch" id="searchBtn">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </div>

        @* Grid *@
        <div class="row p-0 m-0">
            <table id="seasonGrid"></table>
        </div>
    </div>
</div>

@* Create Season *@
@Html.Partial("~/Views/Standard/General/Season/CreateSeason/CreateSeasonModal.cshtml")
@Html.Partial("~/Views/Standard/General/Season/CreateSeason/ConfirmCreateSeasonModal.cshtml")

@* Modify Season *@
@Html.Partial("~/Views/Standard/General/Season/ModifySeason/ModifySeasonModal.cshtml")
@Html.Partial("~/Views/Standard/General/Season/ModifySeason/ConfirmModifySeasonModal.cshtml")

@* Delete Season *@
@Html.Partial("~/Views/Standard/General/Season/DeleteSeason/ConfirmDeleteSeasonModal.cshtml")

@section scripts{
    <script src="~/Scripts/Standard/General/Season/Season.js"></script>
    <script src="~/Scripts/Standard/General/Season/CreateSeason/CreateSeason.js"></script>
    <script src="~/Scripts/Standard/General/Season/ModifySeason/ModifySeason.js"></script>
    <script src="~/Scripts/Standard/General/Season/DeleteSeason/DeleteSeason.js"></script>
    <script>
        // Code to run since DOM is loaded and ready
        document.addEventListener("DOMContentLoaded", function (event) {

            Initialize();
            // Search Season
            searchBtn.addEventListener(`click`, ReloadSeasonGrid);

            // Create Season
            btnConfirmToCreate.addEventListener(`click`, CreateSeason);

            // Modify Season
            modifyBtn.addEventListener(`click`, OpenModifyModal);
            btnConfirmToModify.addEventListener(`click`, ModifySeason);

            // Delete Season
            deleteBtn.addEventListener(`click`, OpenDeleteModal);
            btnConfirmToDelete.addEventListener(`click`, DeleteSeason);

        });
    </script>
}

